[submodule "third-party/cpython"]
	path = third-party/cpython
    url = https://github.com/Shillaker/cpython
    branch = faasm
[submodule "third-party/numpy"]
	path = third-party/numpy
    url = https://github.com/Shillaker/numpy
    branch = faasm
[submodule "third-party/crossenv"]
	path = third-party/crossenv
    url = https://github.com/Shillaker/crossenv
    branch = faasm
