name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  formatting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cpython:0.1.0
    defaults:
      run:
        working-directory: /code/python
    steps:
      - name: "Fetch all"
        run: git fetch --all
      - name: "Fetch ref"
        run: git fetch origin ${GITHUB_REF}:ci-branch
      - name: "Check out branch"
        run: git checkout --force ci-branch
      - name: "Update cpp submodule"
        run: git submodule update third-party/cpp
      - name: "Install requirements"
        run: pip3 install -r requirements.txt
      - name: "Python formatting check"
        run: ./bin/check_python.sh
      - name: "Check C/C++ formatting"
        run: ./bin/run_clang_format.sh
      - name: "Check no formatting changes"
        run: git diff --exit-code

  build:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    env:
      HOST_TYPE: ci
      REDIS_QUEUE_HOST: redis
      REDIS_STATE_HOST: redis
    container:
      image: faasm/cpython:0.1.0
    defaults:
      run:
        working-directory: /code/python
    services:
      redis:
        image: redis
    steps:
      - name: "Fetch all"
        run: git fetch --all
      - name: "Fetch ref"
        run: git fetch origin ${GITHUB_REF}:ci-branch
      - name: "Check out branch"
        run: git checkout --force ci-branch
      - name: "Install requirements"
        run: pip3 install -r requirements.txt
      - name: "Build Python function"
        run: inv func
      - name: "Check copying Python functions locally"
        run: inv func.upload-all --local
